// Typography styles placeholder
// Add typography styles here

@use "../abstracts/variables" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--secondary-font-family);
}

h1 {
	font-size: var(--font-size-h1);
	font-weight: 500;
	line-height: 1.2;
}

h2 {
	font-size: var(--font-size-h2);
	color: var(--Deep-Blue);
	font-weight: 500;
	line-height: 1.2;
}

h3,
h4,
h5,
h6 {
	font-family: var(--secondary-font-family);
	font-size: var(--font-size-body);
	line-height: 1.2;
}

strong {
	font-weight: 500;
}

p,
ul li,
a,
button,
span,
table td,
table th {
	font-size: var(--font-size-body);
	line-height: 1.42;
	font-weight: 400;
}