@use "../abstracts/mixins" as *;

:root {
	// ==============================
	// Colors
	// ==============================
	--color-primary: #241ec6;
	--color-primary-2: #002989;
	--color-secondary: #ffbd86;
	--color-secondary-2: #9e5d37;
	--color-secondary-3: #fff5eb;
	--color-black: #0f172a;
	--color-white: #fff;

	// ==============================
	// Typography
	// ==============================
	--primary-font-family: "Arial", system-ui, sans-serif; //Use for Content
	--secondary-font-family: "Arial", system-ui, sans-serif; //Use for Titles
	--font-size-base: 16px;
	--line-height-body: 120%;

	// Body font sizes
	--font-size-body-sm: 1.4rem;
	--font-size-body-md: 2rem;
	--font-size-body: var(--font-size-body-md);
	--font-size-body-small: var(--font-size-body-sm);

	// Small text font sizes
	--font-size-s-sm: 1.4rem;
	--font-size-s-lg: 1.6rem;
	--font-size-s: var(--font-size-s-sm);

	// Button font sizes
	--font-size-btn-sm: 1.48rem;
	--font-size-btn-lg: 2rem;
	--font-size-btn: var(--font-size-btn-sm);

	// Heading font sizes
	--font-size-h1-sm: 4rem;
	--font-size-h1-md: 6rem;
	--font-size-h1-lg: 8rem;
	--font-size-h1: var(--font-size-h1-sm);
	--font-size-h2-sm: 3rem;
	--font-size-h2-md: 4rem;
	--font-size-h2-lg: 5rem;
	--font-size-h2: var(--font-size-h2-sm);

	// ==============================
	// Spacing
	// ==============================
	--spacing-block-sm: 2rem;
	--spacing-block-md: 4rem;
	--spacing-block-lg: 6rem;
	--spacing-block: var(--spacing-block-sm);

	// ==============================
	// Border
	// ==============================
	--border-radius-sm: 1rem;
	--border-radius-lg: 1.5rem;
	--border-radius: var(--border-radius-sm);

	// ==============================
	// Responsive Overrides
	// ==============================
	@include md-up {
		--spacing-block: var(--spacing-block-md);
		--font-size-body-small: var(--font-size-body-md);
		--font-size-h1: var(--font-size-h1-md);
		--font-size-h2: var(--font-size-h2-md);
	}

	@include lg-up {
		--spacing-block: var(--spacing-block-lg);
		--font-size-s: var(--font-size-s-lg);
		--font-size-btn: var(--font-size-btn-lg);
		--border-radius: var(--border-radius-lg);
		--font-size-h1: var(--font-size-h1-lg);
		--font-size-h2: var(--font-size-h2-lg);
	}
}
